[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pytest-cov = "*"
python-coveralls = "*"
mock = "*"
pytest-flakes = "*"
"pytest-pep8" = "*"
bpython = "*"


[packages]

numpy = "*"
scipy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"


[requires]

python_version = "2.7"
