[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
mock = "*"
flake8 = "*"
bpython = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-lazy-fixture = "*"
testfixtures = "*"
black = {version = "==19.10b0", markers = "python_version>='3.6'" }
wheel = "*"

[packages]
# Runtime dependencies from setup.cfg.
dls_prom_exporters = {editable = true,path = "."}

[scripts]
tests = "python -m pytest"
build = "python setup.py sdist bdist_wheel"
