[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
pytest-black = "*"
coveralls = "*"
mypy = "*"
flake8 = "*"
bpython = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-lazy-fixture = "*"
testfixtures = "*"
black = {version = "==19.10b0", markers = "python_version>='3.6'" }
wheel = "*"
# This is required because the pytest dependency gets incorrect marker by default
typing-extensions = {version = ">=3.7.4.3", markers="python_version >= '3.7'" }

[packages]
# Runtime dependencies from setup.cfg.
pytac = {editable = true,path = "."}

[scripts]
tests = "python -m pytest pytac test"
build = "python setup.py sdist bdist_wheel"
